/**/
body {
  margin: 3%;
  font-family: 'Roboto', sans-serif;
  font-size: 81.25%;
  line-height: 154%;
}

/* header */
header {
  height: 10%;
  position: relative;

  border-bottom: .2em solid #cecece;
  padding-bottom: .3em;:

}

header img {
  padding-left: 1%;
  padding-right: 1%;
}

header i {
  font-size: 0;
}

.heading {
  margin-left: 22vmin;
  ;
  position: absolute;
  top: 50%;
  font-size: 8vmin;
  font-weight: 100;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*  */

/*  navigation*/
nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: rgb(82, 86, 89);
  ;
}

/* breaking news*/
.breaking-news {

  padding-top: .1em;:
  margin-bottom: 1%;
  position: relative;
}



.breaking-news img {
  width: 100%;
  object-fit: cover;
}

/*  top-news*/
.top-news .more {
  float: right;
}

.top-news .top-news-header {
  margin-bottom: 1%;

}

.top-news-list a {
  text-decoration: none;
  color: rgb(82, 86, 89);
  line-height: 2.5;

}
.top-news-list .top-news-list-item{
  border-bottom: .2em solid #cecece;
/* border-bottom: .2em solid #cecece; */
padding-bottom: .3em;:
}
.top-news-list .top-news-list-item:nth-child(1){
  border-top: .2em solid #cecece;
/* border-bottom: .2em solid #cecece; */
padding-bottom: .3em;:
}

/*  score news*/
table {
  margin-top: 2vh;
  width: 100%;
}

tr,
td {
  text-align: center;
  margin-top: 0.3vh;
  line-height: 180%
}

/*weather */
.weather-news {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1%;
  position: relative;
  margin-top: 2em;
  margin-bottom: 1em;
}


.weather-country {
 position: absolute;
 left: 0;
}
.weather-current h4{

  position: absolute;
  left: 0;
}

.weather-current img {
  margin-top: 3.5em;
  width: 25%;
}
.current-temp {
  position: absolute;
  bottom: 50%;
  left: 25%;
  font-size: 150%;
  font-weight: 550;
}

.weather-list img {
  width: 50%;
}

.weather-list {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

/* latest news */
.latest-news-list {
  color: rgb(82, 86, 89);
  display: flex;
  flex-direction: column;
}

.latest-news-list-item {
  margin-top: 3%;
}

.latest-news-list-item img {
  float: left;
  width: 14vw;
  margin-right: 1%;
}

h3 {
  line-height: 0;
}

/*footer  */
footer {
  margin-top: 1em;
    padding-top: 1em;
      padding-bottom:  1em;
  border-bottom: .2em solid #cecece;
/* border-bottom: .2em solid #cecece; */
border-top: .2em solid #cecece;

   display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

/*  ls*/
@media(min-width:1000px) {
  body {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.4em;
  }

  .breaking-news img {
    height: 55vmin;
  }

  .heading {
    font-size: 6vmin;
  }
}

/*  ms*/
@media(min-width:768px)and (max-width:999px) {
  .heading {
    font-size: 5vmin;
  }

  .breaking-news {
    margin-top:.5em;
    position: relative;
  }

  .breaking-news .breaking-news-content {
    position: absolute;
    bottom: 0;
    color: white;
    padding-left: 1%;
    background: rgba(0, 0, 0, 0.5);
  }

  nav {
    display: none;
  }

  header i {
    position: absolute;
    top: 50%;
    right: 4%;
    font-size: 200%;
    color: rgb(82, 86, 89);
    ;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  th {
    color: white;
    background: #77909b;
  }

  tr:nth-child(even) {
    background: #eceff0;
  }

  .breaking-news {
    width: 60%;
  }

  .breaking-news-content {
    font-size: 1.8vmin;
  }

  .weather-news {
    position: absolute;
    top: 30vmin;
    right: 1%;
    width: 35vw;
    font-size: 1.4vmin;
  }
}

/* small */
@media (min-width:400px)and (max-width:767px) {
  .heading {
    font-size: 4vmin;
  }

  body {
    font-size: 2vmin;
  }

  .breaking-news {
    position: relative;
        margin-top:.5em;
  }

  header img {
    height: 15vmin
  }

  .breaking-news img {
    height: 40vmin;
  }

  .breaking-news .breaking-news-content {
    position: absolute;
    bottom: 0;
    color: white;
    padding-left: 1%;
    background: rgba(0, 0, 0, 0.5);
  }

  th {
    color: white;
    background: #77909b;
  }

  tr:nth-child(even) {
    background: #eceff0;
  }

  nav {
    display: none;
  }

  header i {
    position: absolute;
    top: 50%;
    right: 4%;
    font-size: 200%;
    color: rgb(82, 86, 89);
    ;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .heading {
    position: absolute;
    width: 40%;
    right: 40%;
  }
}

@media (max-width:399px) {
  body {
    font-size: 30%;
  }

  header {
    display: block;
  }

  header img {
    width: 12%;
  }

  .heading {
    position: absolute;
    width: 40%;
    right: 45%;
    font-size: 3.5vmin;
  }

  .breaking-news img {
    height: 40%;
  }

  .breaking-news {
    position: relative;
        margin-top:.5em;
  }

  .breaking-news .breaking-news-content {
    position: absolute;
    bottom: 0;
    color: white;
    padding-left: 1%;
    background: rgba(0, 0, 0, 0.5);
  }

  th {
    color: white;
    background: #77909b;
  }

  tr:nth-child(even) {
    background: #eceff0;
  }

  nav {
    display: none;
  }

  .breaking-news img {
    height: 40vmin;
  }

  header i {
    position: absolute;
    top: 50%;
    right: 4%;
    font-size: 400%;
    color: gray;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
